body {
    background-color: green;
}
.carta{
    display: inline-block;
    background: white;
    margin: auto;
    height: 200px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
}
.superior{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 60px;
}
.inferior{
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 60px;
}
.numero{
    position: absolute;
    padding-top: 60px;
    padding-left: 50px;
    font-size: 70px;
    font-weight: bold;
    font-family: sans-serif;
}
/* .cartasrojas {
    color: red;
}
.cartasnegras {
    color: black;
} */